# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other folders that should not be included
doc/
bin/
lib/
out/
projectFilesBackup/
saves/
.idea/
.settings/
project
target
Pfeile.iml
Pfeile project.iml

# files....
javadocexport.xml
.cache
.project
.classpath

src/test/
src/META-INF

# and other stuff that we should not/do not need here
#src/resources/sfx/

# Game data. Not needed in remote.
savegames/
